*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #001e4d;
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    font-weight: 600;
    color: #001e4d;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2{
    font-size: 18px;
    font-weight: 600;
    color: #001e4d;
}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}

  .bxt{
    display: block;
    margin: 15px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 400px;
    border: none;
    outline: none;
  }


  .bxt:hover{
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  #contact{
  display: none;
  margin: 15px;
  margin-left: 580px;
  width: 380px;
  height: 180px;
  background: #fff;
  border-radius: 10px;
}

.whatsapp{
  width: 50%;
  height: auto;
  justify-content: center;
  align-items: center;
  display: block;
}

.whatsapp h3{
  margin: 10px;
  text-align: center;
}

.hander{
  display: flex;
  margin: 5px;
}

.whatsapp a{
  display: flex;
  margin: 5px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #000;
}

a img{
  width: 30px;
  border-radius: 50%;
  height: 30px;
  display: flex;
}

.hander span{
  margin: 5px;
  display: flex;
  font-weight: bold;
}


  @media (max-width: 720px){
    .bxt{
      display: block;
      width: 160px;
      height: 40px;
      align-self: center;
      margin: 25px;
      border: none;
      outline: none;
      border-radius: 8px;
      font-weight: bold;
    }
    #contact{
    display: none;
    margin: 15px;
    width: 380px;
    height: 180px;
    background: #fff;
    border-radius: 10px;
  }

  .whatsapp{
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
    display: block;
  }

  .whatsapp h3{
    margin: 10px;
    text-align: center;
  }

  .hander{
    display: flex;
    margin: 5px;
  }

  .whatsapp a{
    display: flex;
    margin: 5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #000;
  }

  a img{
    width: 30px;
    border-radius: 50%;
    height: 30px;
    display: flex;
  }

  .hander span{
    margin: 5px;
    display: flex;
    font-weight: bold;
  }

}